<h1>Top Stories</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th class="links-index-text">Comments</th>
      <th class="links-index-text">Vote</th>            
      <th class="links-index-text">Score</th>    
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.title, link.url, :target => "_blank"  %></td>
        <td class="links-index-text"><span class="fa fa-comments"></span><%= link_to link.comments.count, link %></td>
        <td class="links-index-text"><%= link_to "Upvote", like_link_path(link), method: :put %></td>
        <td class="links-index-text"><%= link.score  %></td>
        <% if link.user = current_user %>
        <td class="links-index-text"><%= link_to 'Edit', edit_link_path(link) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>

<p><%= link_to "Submit A New Story", new_link_path, :class => 'btn' %></p>