<h1>Top Links</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Comments</th>
      <th>Vote</th>            
      <th>Score</th>    
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link_to link.comments.count, link %></td>
        <td><%= link_to "Upvote", like_link_path(link), method: :put %></td>
        <td><%= link.score  %></td>
        <% if link.user = current_user %>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

